<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie-edge">
		<title>An unexpected error ocurred</title>
		<meta name="description" content="Undo demo">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<h1>An unexpected error ocurred:</h1>
		<div id="error"><%- error_message %></div>
	</body>
</html>
