<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie-edge">
		<title>Undo demo</title>
		<meta name="description" content="Undo demo">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div id="root"><%- body %></div>
		<script>window.__initial__ = <%- initial %></script>
		<script src="/app.js" type="text/javascript"></script>
	</body>
</html>
